<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    {{!-- <link rel="icon" href="/img/weather.jpg"  --}}
    <link rel="stylesheet" href="/css/style.css"

</head>
<body>
    <div class="main-content">{{>header}}
    <img class="portrait" src=/img/me.jpg>
    <br>
    <hr>
    </div>
   

    {{!-- <p1>Created By: {{name}}</p1> --}}
    {{>footer}}
</body>

</html>